<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>ZhouJiTalentedMS-个人主页</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../static/css/font.css">
        <link rel="stylesheet" href="../static/css/xadmin.css">
        <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">员工姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Name}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Sex}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">所在公司</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Unit}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Phone}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Identify}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">年龄</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Years}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">籍贯</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Origin}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">毕业院校</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_GraduateCollege}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">专业</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Major}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">学历</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Degree}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">婚姻状况</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Marrige}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">政治面貌</label>
                        <div class="layui-input-inline">
                            <input type="text" value={{person.Staff_Politic}} autocomplete="off" class="layui-input" readonly="true"></div>
					</div>
					<div class="layui-form-item">
                        <label class="layui-form-label">历史所在公司</label>
                        <div class="layui-input-inline">
                            <input type="text" value="{{person.Staff_HistoryUnit}}" autocomplete="off" class="layui-input" readonly="true"></div>
					</div>

                </form>
            </div>
        </div>
    </body>

</html>